# Added
.lh/
.vscode/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
yarn-debug.log*
.yarn-integrity

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Miscellaneous
*.DS_Store
*.log
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
